.landingPageContainer {
    width: 100%;
    min-height: 100vh;
    background-image: url("../../assets/images/Background_Image.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    .navbarContainer {
        width: 100%;
        height: 4vw;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .navbarLeftSide,
        .navbarRightSide {
            width: auto;
            display: flex;
            align-items: center;
        }

        .navbarLeftSide,
        .navbarRightSide {
            height: 100%;

            .cornerIconsContainer {
                width: 5vw;
                height: 100%;
                background-color: white;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            p {
                font-family: 'D-DIN Exp';
                font-style: 300;
                font-weight: 700;
                letter-spacing: 2px;
                font-size: 1rem;
                color: #FFFFFF;
                margin: 0 2rem;
            }

            .dullText {
                color: rgba(255, 255, 255, 0.4);
            }
        }


    }

    .sidebarContainer {
        width: 5vw;
        height: calc(100vh - 4vw);
        // border: 2px solid red;
        background: rgba(217, 217, 217, 0.09);
        backdrop-filter: blur(6.5px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;



        .verticalTextContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;

            p {
                min-width: max-content;
                font-weight: 400;
                font-size: 10px;
                line-height: 11px;
                font-family: D-DINExp, sans-serif;
                color: white;
                color: rgba(255, 255, 255, 0.4);
                transform: rotate(-90deg);
            }
        }

        .codeContainer {
            width: 100%;
            height: 5vh;
            display: flex;
            align-items: center;
            justify-content: center;

            p {
                font-family: 'D-DIN Exp';
                font-style: normal;
                font-weight: 400;
                font-size: 10px;
                color: white;
            }
        }
    }
}